# Ignore Docker files
.docker/**/Dockerfile
.docker/**/.env*
# Ignore all files and folders starting with ".git"
**/.git*
# Ignore all markdown information files
**/*.md
# Ignore Docker scripts
**/docker-*.sh
# Ignore the Makefile
Makefile

# Ignore host Composer dependencies and cache files
# (Composer installation is done in the container)
**/var/
**/vendor/